<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Our Guest</h2>
                <hr class="light">
                <p class="text-faded">Shri Ram Nath Kovind was sworn in as the 14th President of India on 25 July, 2017. A lawyer by profession, he had been the Governor of the State of Bihar before he took over the highest constitutional office. Shri Kovind brings to the office a rich experience of working across the spectrum of the republic, from the grassroots to the apex court and parliament. He has been an ardent champion of equality in society and integrity in public life.</p>
                <a href="#" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</section>
