<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>UFV INDIA PROJECT PROPOSAL</h1>
            <hr>
            <p>Indian President Ram Nath Kovind and his wife will be visiting Canada on the occasion of Thanksgiving in 2021, where they’ll get a chance to experience the rich culture of Canada and how Thanksgiving is celebrated and even see their new summer home.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
